{% extends 'layouts/app.twig' %}
{% block pageclass %}categories{% endblock %}
{% block title %}{{ type.name }}{% endblock %}

{% block content %}

<section class="page-hero">
    <img src="/assets/img/type-rentals-hero.jpg" draggable="false">
    <div class="page-hero__container container">
        <h1>{{ type.name }}</h1>
    </div>
</section>

<section class="main">
    <div class="main__container container">
        <h2>{{ type.name }}</h2>

        {% if type.description is not empty %}
            <p>{{ type.description|raw }}</p>
        {% endif %}

        <div class="categories__container container--full">
            {% if categories is empty %}
                <p class="empty">Products Coming Soon!</p>
            {% else %}
                {% for category in categories %}
                    <div class="column-4 category">
                        <a href="{{ path_for('product-list', { type: typeUrl, category: category.slug }) }}">
                            <div class="img__container">
                                <img src="/assets/img/types/{{ type.slug }}/{{ category.image }}.jpg" alt="{{ category.name|raw }}" draggable="false">
                            </div>
                            <p>{{ category.name|raw }}</p>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
